
  @import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

*{

    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-family: 'Quattrocento Sans', sans-serif;
    
}


.main{
    background: no-repeat;
   background-image: url(Design\ sans\ titre.png) ;
   background-size:cover;
   background-position: center;
   width: 100%;
   height: 100vh;
   
   
}

.main2{
    background: no-repeat;
    background-image: url(Nbackg\(1\).png);
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    

}

.navbar{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20PX;
    margin-bottom:50 px;
  
}

.HeaderHome{
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    color: rgb(255, 255, 255);

}


a{
    text-decoration: none;
}

.navbarlink:hover{
    color: rgb(255, 149, 0);
}

.logo{
    padding: 0px 0px 0px 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.logo:hover{
    color: rgb(211, 120, 1);
}


.contenu{
   
    
    width: 500px;
    margin-left: 500px;
    margin-top: 30px;
    
}

h1{
    
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}

p{
    margin-top: 50px;
    width:600px ;
    font-size: 20px;
    line-height: 2;
    

}
.p2{
    margin-top: 30px;
    width:600px ;
    font-size: 15px; 
    margin-left: 330px;
    
}


.Foter{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: -30px;
  
}

.Foter2{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
   
    
    
}

.p3{
    
    margin-top: -20px;
    font-size: 15px; 
    margin-left: 350px;
  
    
}

.contenu2{
    
    width: 40%;
    margin: 50px ;
    padding: 30px 0px 0px 30px;
    
}

.h1about{
    font-size: 50px;
    margin-right: 300px;
}

.pabout{
    line-height: 2;
}

input[type=button]{
    background:transparent;
    border-radius: 3px;
    border-color: rgb(228, 126, 17);
    color: rgb(228, 126, 17);
    width: 150px;
    height: 60px;
    
    margin-top: 20px;
}


.READMORE:hover{
    background-color: rgba(23, 249, 3, 0.19);
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 100px;
    
    width: 300px;
    height: 500px;
    border-radius: 20px;
    
}
.sectabout{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Foter3{
    background-color: rgb(0, 0, 0);
    margin-top: 500px;
    margin-left:-600px;
    
    height: 30px;
    
}
.p4{
    
    width:700px ;
    font-size: 15px; 
    margin-left: 370px;
    margin-top: -1px;

    
}

.Foter4{
    background-color: rgb(0, 0, 0);
    margin-top: -30px;
    
}
.p5{
    
    width:300px ;
    font-size: 15px; 
    margin-left: 610px;

}

.h4{
    width: 40%;
    margin-left: 400px ;
    padding: 30px ;
    
}
.title{
    font-size: 60px;
}

.listMenu1{
    margin-left: 30px;
    font-size: 25px;
    line-height: 2;
}

.listMenu11{
    list-style: none;
    margin-left: 250px;
    font-size: 25px;
    line-height: 2;
}

.PositionMenu1{
    display: flex;
    
}

.menu1{
    width: 40%;
    padding: 20PX;
    
}

.titremenu1{
    font-size: 55px;
    margin-right: 390px;
}







.listMenu2{
   
    font-size: 25px;
    line-height: 2;
}

.listMenu22{
    list-style: none;
    font-size: 25px;
    line-height: 2;
    margin-left: 180px;
    
}

.PositionMenu2{
    
    display: flex;
    
}

.menu2{
    width:430px;
    padding: 20PX;
    margin-left: 980px;
    margin-top: -480px;
}

.titremenu2{
    font-size: 55px;
    
    margin-right: 310px;
}

.Menu{
    
    display: flex;
    height: 100px;
    
    
}





iframe{
    width: 380px;
    height: 400px;
    border-radius: 20px;
    filter:invert(100%);
    
}



.formulairestyle{
    
    border-radius: 0%;
    background-color:white;
    padding: 50px 0px 0px 60px;
    /*margin-left:800px;
    margin-top:-350px;*/
    font-size: 35px;
    width: 325px;
    height: 350px;
    border-radius: 20px;
}

#Reg{
    padding: 10px 30px 10px 30px ;
    margin-top: 22px;
    border-radius: 10px;
    border: 2px solid transparent;
    background-color: rgb(147, 99, 3);
    width: 250px;
    
    color: white;
    box-shadow: 10px 12px 11px #8b9dae;
    
}

#Reg:hover{
    background-color: rgb(245, 147, 1) ;
    color: rgb(255, 255, 255);
}


.contactP{
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 80px 130px;
}

.signupstyle{
        color: black;
        font-size: 30px;
        font-weight: 300;
  
    
}

input{

    width: 226px;
    border-radius: 10px ;
    height: 15px;
   color: black;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    border-color: rgb(159, 159, 175);
}


textarea{
    width: 215px;
    border-radius: 10px ;
    height: 35px;
    border-color: rgb(232, 232, 239);
    padding: 20px  ;
    padding-left: 10px;
    color: black;
    border-color: rgb(159, 159, 175);
}

.Media{
    
    display: flex;
    justify-content: center;
    font-size: 30px;

}

#insta{
    padding: 10px;
}

#fb{
    padding: 10px;
}

#wtsp{
    padding: 10px;
}


#insta:hover{
    background-color: rgb(175, 115, 4);
}

#fb:hover{
    background-color: rgb(175, 115, 4);
}

#wtsp:hover{
    background-color: rgb(175, 115, 4);
}
.ContactPara{
   
    font-size: 15px;
    width: 230px;
    margin-left: 130px;
    margin-top: -60px;
    line-height: 24px;
    height: 50px;
   
}

.MediaMenu{
    
    display: flex;
    justify-content: center;
    margin-left: 30px;
    font-size: 30px;
    margin-top: 450px;
    width: 200px;
    
}


.MediaAbout{
    width: 200px;

    display: flex;
    justify-content: center;
    margin-left: 650px;
    
    font-size: 30px;
    margin-top:-100px;
    
}


.Mediahome{
    width: 200px;

    display: flex;
    justify-content: center;
    margin-left: 650px;
    
    font-size: 30px;
    margin-top:50px;
}
